// abstracts/_variables.scss
$font-family: "PT Mono", monospace;
$font-family-roboto: "Roboto", sans-serif;
$font-weight: 400;
$color-black: black;
$color-grey: #989797;
$color-dark: #454545;
$color-white: #ffffff;

$primary-color: #3c91e6;
$secondary-color: #e4572e;
$text-color: #454545;
$light-bg: #fff;
$overlay-bg: #f1dd7b;
$pastel-gray:#bddfc7;
$turquoise-green:#9dcfab;

$btn-primary-color:#fff;   // Color primario
$btn-secondary-color:  #4ca866; // Color secundario

$font-icon: 5rem;
$font-large: 4.38rem;
$font-medium: 2rem;
$font-small: 1rem;
$font-xsmall: 0.75rem;

$padding-large: 3rem;
$padding-medium: 1.2rem;
$padding-small: 0.85rem;
